:root {
  --text-color: #b6b6b6;
  --text-color-title: #ddd;
  --web-color: var(--text-color-title);
  --text-special-color: #65d85a;
}
.cuadrado {
  max-width: 24px;
  max-height: 26px;
  height: 100px;
  background-color: var(--text-special-color);
  color: #151515;
  padding: 34px 24px 10px 21px;
  border-radius: 8px;
  margin-top: 2rem;
  font-size: 35px;
  font-weight: 700;
  font-family: sans-serif;
  margin-left: 3rem;
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  box-sizing: border-box;
  background-color: #222;
  font-family: sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}
h3,
h4,
h5,
h6 {
  color: var(--text-color-title);
  font-size: 1.5rem;
}
.view-mask {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: #111;
  height: 5%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 99;
}
.flex-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: clamp(300px, 100%, 800px);
  display: flex;
  flex-direction: column;
  margin: auto;
}
.title {
  color: var(--text-color-title);
  font-size: 2rem;
  margin: 3rem 0 0.5rem -2px;
}
.img-container {
  align-self: start;
  min-width: 150px;
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 15px #444;
  margin-top: 1.7rem;
  flex-grow: 1;
}
.img-perfil {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
  aspect-ratio: 1/1;
}
.block1 {
  display: flex;
  padding: 1.4rem;
  gap: 0.6rem;
}
.perfil-info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 66%;
  flex-wrap: wrap;
  flex-grow: 2;
}
.subtitle {
  color: var(--text-color-title);
  opacity: 0.8;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}
.perfil-info .fab,
.perfil-info .fas {
  color: var(--text-color);
}
.ubicacion-containter {
  font-size: 0.9rem;
  font-weight: 100;
  margin: 0.4rem 0 0.4rem 0;
}
.email-container {
  margin: 0.3rem 0px 1.1rem 0px;
}
.email-input {
  border: none;
  border-bottom: 1px solid var(--text-color);
  font-size: 1rem;
  padding: 3px;
  color: var(--text-color-title);
  background-color: transparent;
  width: 24.4ch;
  margin: 0 0 0.5rem 0;
}
.email-button {
  margin: 0 0.3rem;
  font-size: 1rem;
  border: 1px solid var(--text-color);
  padding: 6px;
  color: var(--text-color-title);
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
/** HOVER DE LOS BUTTONS **/
.email-button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext {
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Posición */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Muestra el tooltip arriba */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;

  visibility: hidden;
  opacity: 0;
}
/** Redes **/
.redes {
  color: var(--text-color-title);
  display: flex;
  gap: 2rem;
  margin-left: 0.5rem;
}
.redes a {
  color: var(--text-color-title);
  font-size: 1.6rem;
  text-decoration: none;
}
.redes a:first-child {
  margin-left: 0;
}
.block1 {
  border-bottom: 1px solid var(--text-color);
}
@media screen and (max-width: 340px) {
  .fa-envelope {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .redes {
    margin-left: 0;
  }
  .block1 {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .perfil-info {
    margin: 0;
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .img-container {
    margin: auto;
  }
  .title {
    margin: 0 0 0.6rem 0;
    text-align: center;
  }
  .email-container {
    text-align: center;
  }
  .redes {
    justify-content: center;
    gap: 2rem;
    margin-bottom: 0.5rem;
  }
}
/*** Sobre mi ***/
.block2 {
  margin: 0;
  height: auto;
  padding: 1.4rem;
}
.sobremi {
  margin: 1.3rem 0 0.3rem 0.9rem;
}
.descripcion {
  margin: 0 0.7rem 0 1rem;
  font-size: 1.1rem;
  max-width: 80ch;
}
/*** Tecnologías ***/
.block3 {
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.tecnologias {
  font-size: 1.5rem;
  margin: 1.3rem 0 0rem 0.9rem;
}
.tecnologias-list {
  margin: 1rem 0 1rem 1rem;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1.5rem;
}
.tecnologia-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 0.8rem 9%;
  border-radius: 5px;
  cursor: default;
}
.fa-html5,
.fa-css3-alt,
.fa-js-square,
.fa-react,
.tailwind-icon {
  font-size: 1.5rem;
}
.fab {
  max-width: 25px;
  max-height: 25px;
}
.express-js {
  max-width: 20px;
  background-color: #999;
  padding: 4px;
  border-radius: 50%;
}
.fa-react {
  color: #36b7f0;
  font-size: 1.5rem;
}
.fa-js-square {
  color: #f0db4f;
}
.fa-html5 {
  color: #ff5d34;
}
.fa-css3-alt {
  color: #496bf3;
}
.gsap-icon {
  width: 25px;
  height: 25px;
}
/*** Experiencia ***/
.block4 {
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: column;
}
.experiencia {
  font-size: 1.5rem;
  margin: 1.3rem 0 0.8rem 1.7rem;
}
.empresa-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.76rem;
  padding-left: 0;
}
.experiencia-list {
  margin: 0 0 1rem 1rem;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.experiencia-item {
  gap: 2rem;
  align-items: center;
  padding: 0.8rem;
  border-bottom: 1px solid #65d85a77;
}
.lastchild {
  border-bottom: none;
}
@media screen and (min-width: 650px) {
  .experiencia-item {
    display: flex;
    border-bottom: none;
  }
  .empresa-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 12rem;
  }
  .empresa-info {
    border-left: 1px solid var(--text-color);
    padding-left: 2rem;
  }
}
/** CR Grow ***/
.empresa-logo {
  width: 95%;
  max-width: 182px;
}
.empresa-titulo {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text-color-title);
  font-weight: 700;
}
.empresa-rol {
  margin: 0;
}
.empresa-descipcion {
  margin: 0;
}
.stack {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.fa-react::before {
  font-size: 24px;
}

/*** Proyectos ***/
.proyectos {
  margin-bottom: 1.5rem;
}
/*** Formación ***/
.ciata-logo-container {
  width: 15rem;
  justify-self: center;
}
.unlamlogo {
  margin-right: 2px;
}
/*** Footer ***/
.footer {
  width: 100%;
  margin: 0;
  margin-top: 2rem;
  padding: 4rem 0;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 1.2rem;
}
.redes-footer {
  display: flex;
  margin-top: 1rem;
  gap: 2.5rem;
  justify-content: center;
}
.email-container-footer {
  margin: 0;
}

.tailwind-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #36b7f0;
}
/** Color **/
.special-color {
  color: var(--text-special-color);
  font-weight: 600;
}
.bold {
  font-weight: 600;
}
.hover-scale {
  transition: scale 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    scale: 1.25;
  }
}
.tecnologia-item:hover {
  .hover-up {
    transform: translateY(-5px);
  }
}
.hover-up {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
}
p {
  max-width: 80ch;
}
.block5 {
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 3rem;
}
